1. Compute the following expressions for a natural number n chosen by the user:

\begin{equation}
\sum_{i=0}^{n-1}(i+3)
\end{equation}

\begin{equation}
\prod_{i=0}^{n=1}(i+3)
\end{equation}

In [15]:
n = int(input("Enter a natural number n:"))
sum = 0
for i in range(n):
    if i % 2 != 0:
        sum = sum + i + 3 
print(sum)

Enter a natural number n: 4

10

In [27]:
n = int(input("Enter a natural number n:"))
prod = 1
for i in range(n):
    if i % 2 == 0:
        prod = prod * (i + 3) 
print(prod)

Enter a natural number n: 4

15

In [26]:
for i in range(4):
    print(i)

0
1
2
3

2 .Write a program that reads the number of the day of the week (from 0 to 6). If it is a
working day, then the program will write the name of the corresponding day. Otherwise,
it will write the word "Weekend".

In [1]:
day = int(input("Enter a number to represent a day: "))

if day == 0:
    print("Monday")
elif day == 1:
    print("Tuesday")
elif day == 2:
    print("Wednesday")
elif day == 3:
    print("Thursday")
elif day == 4:
    print("Friday")
elif day == 6 and day == 0:
    prnt("Weekend")
else:
    print("invalid")

Enter a number to represent a day:  1

Tuesday

3. Make a program that, given a month number (from 0 to 11), indicates how many days it
has (28, 30 or 31), ignoring the leap years.

In [29]:
month = int(input("Enter a number between 0 and 11:"))

if (month == 0 or month == 3 or month == 5 or month == 8 or month == 10):
    print("These months has 30 days")
elif (month == 2 or month == 4 or month == 6 or month == 7 or month == 9 or month == 11):
    print("These months has 31 days")
elif (month == 1):
    print("This month has 28 days")
else:
    print("invalid")

Enter a number between 0 and 11: 1

This month has 28 days

4. Write two versions of python code that displays your name 3 times. One version with a
"for loop" and another version with a "while loop".

In [45]:
n = 'Moreen'
for i in range(3):
    print(n)

Moreen
Moreen
Moreen

In [62]:
n = 'Moreen'
i = 0
while (i < 3):
      print("Moreen")
      i = i + 1

Moreen
Moreen
Moreen

5. Given two numbers a0 and a1, the Fibonacci sequence they generate is constructed from
the recursion formula $a_{n+1} = a_{n} + a_{n−1}$. Calculate the first 15 terms of a Fibonacci
sequence, asking the user the initial values.

In [68]:
a_0 = int(input("Enter a first number a_0:"))
a_1 = int(input("Enter a second number a_1:"))

a_n = 0
for i in range(16):
    a_n = a_0 + a_1
    print(a_n)
    a_0 = a_1
    a_1 = a_n

Enter a first number a_0: 1
Enter a second number a_1: 1

2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584

6. Compute the first 30 terms of the sequence defined by $2x_{n+2} − x_{n+1} − 6x_{n} = 0$ sequence,
given any two initial values x0 and x1

In [73]:
x_0 = 1
x_1 = 2

x_2 = 0
for i in range(31):
    if 2*x_2 - x_1 - 6*x_0 == 0:
        print(i)

7. a) Write python code to determine whether or not a year is a leap year. Be sure you
know what a leap year is.

In [100]:
leap = int(input("Enter any year:"))

#ly = []

#for year in range(1000, 2001):
if  (leap % 4 == 0 and leap % 100 != 0 ) or leap % 400 == 0 :
        #ly.append(year)
           print("{} is a leap year".format(leap))
else:
           print("{} is not a leap year".format(leap))
    
#print(ly)

Enter any year: 1780

1780 is a leap year

b) Write the code using only logical operators, i.e. no conditional branching.

In [101]:
leap_years = [year for year in range(1000, 2001) if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)]

print(leap_years)

[1004, 1008, 1012, 1016, 1020, 1024, 1028, 1032, 1036, 1040, 1044, 1048, 1052, 1056, 1060, 1064, 1068, 1072, 1076, 1080, 1084, 1088, 1092, 1096, 1104, 1108, 1112, 1116, 1120, 1124, 1128, 1132, 1136, 1140, 1144, 1148, 1152, 1156, 1160, 1164, 1168, 1172, 1176, 1180, 1184, 1188, 1192, 1196, 1200, 1204, 1208, 1212, 1216, 1220, 1224, 1228, 1232, 1236, 1240, 1244, 1248, 1252, 1256, 1260, 1264, 1268, 1272, 1276, 1280, 1284, 1288, 1292, 1296, 1304, 1308, 1312, 1316, 1320, 1324, 1328, 1332, 1336, 1340, 1344, 1348, 1352, 1356, 1360, 1364, 1368, 1372, 1376, 1380, 1384, 1388, 1392, 1396, 1404, 1408, 1412, 1416, 1420, 1424, 1428, 1432, 1436, 1440, 1444, 1448, 1452, 1456, 1460, 1464, 1468, 1472, 1476, 1480, 1484, 1488, 1492, 1496, 1504, 1508, 1512, 1516, 1520, 1524, 1528, 1532, 1536, 1540, 1544, 1548, 1552, 1556, 1560, 1564, 1568, 1572, 1576, 1580, 1584, 1588, 1592, 1596, 1600, 1604, 1608, 1612, 1616, 1620, 1624, 1628, 1632, 1636, 1640, 1644, 1648, 1652, 1656, 1660, 1664, 1668, 1672, 1676, 1680, 1684, 1688, 1692, 1696, 1704, 1708, 1712, 1716, 1720, 1724, 1728, 1732, 1736, 1740, 1744, 1748, 1752, 1756, 1760, 1764, 1768, 1772, 1776, 1780, 1784, 1788, 1792, 1796, 1804, 1808, 1812, 1816, 1820, 1824, 1828, 1832, 1836, 1840, 1844, 1848, 1852, 1856, 1860, 1864, 1868, 1872, 1876, 1880, 1884, 1888, 1892, 1896, 1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000]

a) Write python code that computes the sum of the square of the first n natural numbers.
One version with a "for loop" and another version with a "while loop".

In [106]:
m =10
sum_sqrt= 0
for i in range(m):
    square = i*i
    sum_sqrt= sum_sqrt + square 
print(sum_sqrt)

285

b) Write python code that prints, for a natural number M, the smallest natural number
n such that 12+22+· · ·+n2 ≥ M. One version with a "for loop" and another version
with a "while loop".

In [1]:
sum_sq = 0 
i =0
while ( i > 11):
    squr = i*i
    sum_sq = sum_sq + squr 
    i = 1+1

#print(sum_sq)