<a href="https://colab.research.google.com/github/ai-technipreneurs/python_course_colab_notebooks/blob/main/03_Lecture03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>
    <a href="https://aims-senegal.org/" ><img src="images/logoaimssn.jpeg" style="float:left; max-width: 650px; display: inline" alt="AIMS-SN"/> </a>
    </center>



<center>
    
<a href="https://acas-yde.org/" ><img src="images/logo-ACAS.jpg" style="float:right; max-width: 250px; display: inline" alt="ACAS"/></a>
    
</center>

****

# <center> <b> <span style="color:orange;"> Python Proficiency for Scientific Computing and Data Science (PyPro-SCiDaS)  </span> </b></center>

### <center> <b> <span style="color:green;">An Initiation to Programming using Python (Init2Py) </span> </b></center>

****

# <center> <b> <span style="color:blue;"> Lecture 3: Iterable Objects or Containers</span> </b></center>

<!--NAVIGATION-->
<  [2.Variables and assignements](02.Lecture02.ipynb)| [ToC](Index.ipynb) | [4.Flow control](04.Lecture04.ipynb)>

****


### <left> <b> <span style="color:brown;">Instructeur : </span> </b></left>[Yaé Ulrich Gaba](https://github.com/gabayae)

> **Summary:** This lecture aims to present `strings`, reviewing some of the most commonly encountered operations, particularly in text processing tasks. We will also examine the string class in greater detail, including how to use the `open()` function to open, read, and write to `files`.

****

As mentioned in previous sections, a Python program always operates based on the manipulation of objects. The instructions (whether defined in a free code, within an if clause, or in a while or for loop) are always executed on objects. Variables, as previously discussed, represent a particular type of Python object. In general, instructions in a Python program are defined from a collection of objects that come in various forms of value sequences. This sequence of values can, for example, consist of a set of variables with a single value. This ultimately means that a variable defined by a single value is generally not sufficient to form the architecture of a program. In the Python language, we have:

   - A **list** object is a sequence of values (numerical and/or characters) that are **indexed** and specified within **square brackets**, separated by commas. Example:
      ```python
         x = [1, 5, 8, 10, 4, 50, 8] # List consisting only of numbers
         y = ["Olivier", "ENGEL", "Strasbourg"] # List consisting only of characters
         z = [1, "Olivier", 5, 8, "ENGEL", 10, 4, 50, "Strasbourg"] # List consisting of both numbers and characters.
       
      ```
     A list object can be generated manually by specifying the values within square brackets or automatically using the `list()` function.
      ```python
        x = list(range(1, 10))
        print(x) # returns [1, 2, 3, 4, 5, 6, 7, 8, 9]
     ```
   - A **tuple** object is a sequence of values (numerical and/or characters) that are **indexed** and specified within **parentheses**, separated by commas. Example:
      ```python
         x = (1, 5, 8, 10, 4, 50, 8) # Tuple consisting only of numbers
         y = ("Olivier", "ENGEL", "Strasbourg") # Tuple consisting only of characters
         z = (1, "Olivier", 5, 8, "ENGEL", 10, 4, 50, "Strasbourg") # Tuple consisting of both numbers and characters.
       
      ```
     A tuple object can be generated manually by specifying the values within parentheses or automatically using the `tuple()` function.
      ```python
        x = tuple(range(1, 10))
        print(x) # returns (1, 2, 3, 4, 5, 6, 7, 8, 9)
     ```
     
   - A **set** object is a sequence of values (numerical and/or characters) that are **non-duplicated** and **non-indexed**, and specified within **curly braces**, separated by commas. Example:
      ```python
         x = {1, 5, 8, 10, 4, 50, 8} # Set consisting only of numbers
         y = {"Olivier", "ENGEL", "Strasbourg"} # Set consisting only of characters
         z = {1, "Olivier", 5, 8, "ENGEL", 10, 4, 50, "Strasbourg"} # Set consisting of both numbers and characters.
       
      ```
     A set object can be generated manually by specifying the values within curly braces or automatically using the `set()` function.
      ```python
         v = [2, 4, "orange", "meat", 4, "orange"]
         V = set(v)
         print(V) # returns {2, 'orange', 4, 'meat'}
      
      ```
   - A **dictionary** object is a sequence of values (numerical and/or characters) that are **indexed** by keys and specified within **curly braces**, separated by commas. Each `key` corresponds to one or more `values`. A dictionary consists of a set of `key-value` pairs. Example:   
      ```python
         x = {'name': 'Jean', 'weight': 70, 'height': 1.75} # Keys with unique values.
         y = {'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.80], 'Pierre': [35, 75, 1.65]} # Key with multiple values formed by a list
      
      ```
   In the dictionary `x`, the keys are name, weight, and height. The values corresponding to each of these keys are Jean, 70, and 1.75, respectively.
In the dictionary `y`, the keys are Jean, Paul, and Pierre, while the values are lists consisting of three elements (age, weight, and height).
A dictionary object can be generated manually by specifying the values within curly braces or automatically using the `dict()` function to create an empty dictionary. We will delve more into the definition of dictionaries later.

The four objects we have just mentioned are also what we call `containers` simply because they `can contain` something. Thus, strings, lists, tuples, and dictionaries are the basic iterable objects in Python. Lists and dictionaries are mutable – their elements can be changed on the fly – while strings and tuples are immutable.

The following three objects we mention are not iterable, but we will study them in more detail later on.

   - A **function** object is a program designed to perform a specific operation. For example, the `print()` function is used to display the result of the instruction provided to it on the screen;
   - A **class** object is a collection of functions, that is, an association of related functions;
   - A **module** object is a collection of classes, that is, a collection of related classes."

## 0. Lists


### 0.0. Definition of a list object

A list object can be declared and defined manually or by using the `list()` function. There are two categories of lists: one-dimensional lists (or simple lists) and multi-dimensional lists.

- A simple list is a list whose elements consist of unique values separated by commas.

In [41]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, index, /)
 |      Return self[index].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [1]:
voltage = [-2.0, -1.0, 0.0, 1.0, 2.0]

courant = [-1.0, -0.5, 0.0, 0.5, 1.0]

print(voltage)
print("============================= \n")
print(courant)

[-2.0, -1.0, 0.0, 1.0, 2.0]
=============================

[-1.0, -0.5, 0.0, 0.5, 1.0]

In [43]:
math = [23,23,35,56,45,67,78,90,200]
print(math)
print('\t') 


eng = [23,12,23,45,67,45,7,89,56,12,34]
print(eng)
print('\t')

[23, 23, 35, 56, 45, 67, 78, 90, 200]

[23, 12, 23, 45, 67, 45, 7, 89, 56, 12, 34]

In [2]:
type(voltage) # Returns the type of the variable 'courant'

list

In [45]:
type(math)

list

In [44]:
type(eng)

list

In [8]:
help(voltage.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [57]:
math.append(200)
print(math)


math.remove(200)
print(math)

[23, 23, 35, 56, 45, 67, 78, 90, 200]
[23, 23, 35, 56, 45, 67, 78, 90]

In [9]:
help(voltage.pop)

Help on built-in function pop:

pop(index=-1, /) method of builtins.list instance
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [11]:
print(voltage.pop(2))

-1.0

In [58]:
eng.copy()

[23, 12, 23, 45, 67, 45, 7, 89, 56, 12, 34]

In [12]:
voltage.pop(2)

-2.0

In [65]:
eng.extend([28, 23,24])
print(eng)

[23, 12, 23, 45, 67, 45, 7, 89, 56, 12, 34, '2', '8', 28, 23, 24]

In [69]:
eng.remove('8')
print(eng)

[23, 12, 23, 45, 67, 45, 7, 89, 56, 12, 34, 28, 23, 24]

In [3]:
type(courant)

list

In [72]:
print(eng)

[7, 12, 12, 23, 23, 23, 24, 28, 34, 45, 45, 56, 67, 89]

In [4]:
help(voltage.sort())

Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

Moreover, in some situations, you may first create an empty list which will later be filled with values using the `append()` function. To create an empty list, you can use:
`x = list()` or `x = []`.

- Unlike a simple list, a multi-dimensional list is a list where the individual elements consist of multiple values. In general, a multi-dimensional list is presented as a list of lists.

In [74]:
x = [[1,2,3],[2,3,4],[3,4,5]] # liste à deux dimensions (liste de listes)

y = [[[1,2],[2,3]],[[4,5],[5,6]]] # liste à trois dimensions (liste de listes de listes)

x,y

([[1, 2, 3], [2, 3, 4], [3, 4, 5]], [[[1, 2], [2, 3]], [[4, 5], [5, 6]]])

Since a list is a sequence of indexed values, you can access each value or groups of values by specifying their index:

In [80]:
m = [["math", "eng" , "physic"], [" Malaria" , "epidemiology", "statistic"], [25,35,45,67,89]]
print(m)

b = ["Rwanda", "Senegal", "Cameroon","Ghana", "South Africa"]
print(b)
m.extend(b) 
print(m)

[['math', 'eng', 'physic'], [' Malaria', 'epidemiology', 'statistic'], [25, 35, 45, 67, 89]]
['Rwanda', 'Senegal', 'Cameroon', 'Ghana', 'South Africa']
[['math', 'eng', 'physic'], [' Malaria', 'epidemiology', 'statistic'], [25, 35, 45, 67, 89], 'Rwanda', 'Senegal', 'Cameroon', 'Ghana', 'South Africa']

In [14]:
x = list(['Monday', 'Tuesday', 'Wednesday', 1800, 20.357, 'Thursday', 'Friday']) # Definition of a list
print(x) # Displays all the elements of the list x

['Monday', 'Tuesday', 'Wednesday', 1800, 20.357, 'Thursday', 'Friday']

In [81]:
names = list([ "moreen", "mbuki", "blessed", "happy"])
print(names)

['moreen', 'mbuki', 'blessed', 'happy']

In [91]:
print(m[0])
print("======================")
print('\t')

print(m[:7])
print("======================")
print('\t')

print(m[2:5]) #prints elements in starting from 2 to 4 and the element in the fifth position is not icluded
print("======================")
print('\t')

print(m[:: -1]) # rearrange the list starting from the last elemet in the list to the first 
print("======================")
print('\t')


print(m[2:6:2]) # starts from 2 stops at 6 and in between take two steps 
print("======================")
print('\t')

print(m[2:]) # prints element starting from index 2 to the last element in the list 
print("======================")
print('\t')

print(m[:3]) # print the elements in 0,1,2, index
print("======================")
print('\t')

['math', 'eng', 'physic']
======================

[['math', 'eng', 'physic'], [' Malaria', 'epidemiology', 'statistic'], [25, 35, 45, 67, 89], 'Rwanda', 'Senegal', 'Cameroon', 'Ghana']
======================

[[25, 35, 45, 67, 89], 'Rwanda', 'Senegal']
======================

['South Africa', 'Ghana', 'Cameroon', 'Senegal', 'Rwanda', [25, 35, 45, 67, 89], [' Malaria', 'epidemiology', 'statistic'], ['math', 'eng', 'physic']]
======================

[[25, 35, 45, 67, 89], 'Senegal']
======================

[[25, 35, 45, 67, 89], 'Rwanda', 'Senegal', 'Cameroon', 'Ghana', 'South Africa']
======================

[['math', 'eng', 'physic'], [' Malaria', 'epidemiology', 'statistic'], [25, 35, 45, 67, 89]]
======================

In [15]:
print(x[0]) # Returns the first element of x: 'Monday' (Note: indexing starts at 0)
print("================================================")
print('\t')

print(x[3]) # Returns the element at index 3 (fourth element of x): 1800
print("================================================")
print('\t')

print(x[1:3]) # Returns all elements between index 1 and index 3 (Note: element at index 3 is excluded)
print("================================================")
print('\t')

print(x[1:6:2]) # Returns all elements between index 1 and index 6 with a step of 2 elements each time ['Tuesday', 1800, 'Thursday'] (element at index 6 is excluded).
print("================================================")
print('\t')

print(x[2:]) # Returns all elements starting from index 2 (inclusive).
print("================================================")
print('\t')

print(x[:3]) # Returns all elements up to but not including index 3
print("================================================")
print('\t')

print(x[-1]) # Negative indexing, returns the last element of the list (equivalent to x[6])
print("================================================")
print('\t')

print(x[-2]) # Negative indexing, returns the second to last element of the list (equivalent to x[5])
print("================================================")
print('\t')

print(x[::2]) # Iterates through all elements between index 0 and the last index, returning every second element ['Monday', 'Wednesday', 20.357, 'Friday'].
print("================================================")
print('\t')

print(x[::-1]) # Returns a list containing all elements of x, rearranged from the last element to the first. This is a reverse of x. Returns ['Friday', 'Thursday', 20.357, 1800, 'Wednesday', 'Tuesday', 'Monday'].
# The same result can be obtained by using x.reverse()
x_rev = x.reverse()
x_rev

Monday
================================================

1800
================================================

['Tuesday', 'Wednesday']
================================================

['Tuesday', 1800, 'Thursday']
================================================

['Wednesday', 1800, 20.357, 'Thursday', 'Friday']
================================================

['Monday', 'Tuesday', 'Wednesday']
================================================

Friday
================================================

Thursday
================================================

['Monday', 'Wednesday', 20.357, 'Friday']
================================================

['Friday', 'Thursday', 20.357, 1800, 'Wednesday', 'Tuesday', 'Monday']

With a multi-dimensional list, indexing is done at multiple levels. For example

In [17]:
x = [[1, 2, 3], [2, 3, 4], [3, 4, 5]]
print(x)
print("================================================")
print('\t')

print(x[0]) # Returns the first sublist [1, 2, 3]
print("================================================")
print('\t')

print(x[0][0]) # Returns the first element of the first sublist, which is 1
print("================================================")
print('\t')

print(x[2]) # Returns the third sublist [3, 4, 5]
print("================================================")
print('\t')

print(x[2][1]) # Returns the element at index 1 of the third sublist, which is 4
print("================================================")
print('\t')

print(x[1:]) # Returns all sublists starting from index 1: [[2, 3, 4], [3, 4, 5]]
print("================================================")
print('\t')

print(x[1:][0]) # Returns the first sublist from the sliced list: [2, 3, 4]
print("================================================")
print('\t')

print(x[-1]) # Returns the last sublist [3, 4, 5]
print("================================================")
print('\t')

print(x[1][:2]) # Returns the first two elements of the second sublist: [2, 3]
print("================================================")
print('\t')

print(x[1][1:]) # Returns elements from index 1 to the end of the second sublist: [3, 4]

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]
================================================

[1, 2, 3]
================================================

1
================================================

[3, 4, 5]
================================================

4
================================================

[[2, 3, 4], [3, 4, 5]]
================================================

[2, 3, 4]
================================================

[3, 4, 5]
================================================

[2, 3]
================================================

[3, 4]

### 0.1. The `range()` Function

Value sequences are variables that are frequently encountered in Python programs. They represent a set of successive and ordered values that can be extracted like a list. Value sequences are generated using the `range()` function.

The function has the following syntax:

```python
range(start, stop, step)
```

 - start (optional): The value of the first number in the sequence. If omitted, the sequence starts from 0.
 - stop: The end of the sequence. This value is not included in the sequence.
 - step (optional): The difference between each pair of consecutive values in the sequence. If omitted, the default step is 1.

Example:

In [18]:
x = range(10) # Creates a sequence of integer values from 0 to 9
print(x)
print("================================================")
print('\t')

x = range(2, 10) # Creates a sequence of integer values from 2 to 9
print(x)
print("================================================")
print('\t')

x = range(1, 10, 2) # Creates a sequence of integer values from 1 to 9 with a step of 2. It returns 1, 3, 5, 7, and 9
print(x)

range(0, 10)
================================================

range(2, 10)
================================================

range(1, 10, 2)

In [104]:
l = list(range(50))
print(l)
print("Natural numbers frrom 1 to 50")
print('\t')


k = list(range(2,100,2))
print(k)
print("These are multiples of two")
print('\t')

p = list(range(0, 100, 3))
print(p)
print("These are multiples of 3 from 0 to 100")


p.sort()
print(p)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
Natural numbers frrom 1 to 50

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
These are multiples of two

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]
These are multiples of 3 from 0 to 100
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [106]:
p.index(27,0,99)

9

In [102]:
help(p.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

To display the generated values, you can use the `list()` function, as shown below:

In [19]:
x = range(10)

print(list(x)) # Returns a list: values in square brackets [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 0.2. Operations on Lists

Once a list is defined, several operations can be performed to modify its structure or its elements.

- To find the number of elements in a list, we use the `len()` function. Example: consider the list `x` defined as follows:
```python
   x = ['Monday', 'Tuesday', 'Wednesday', 1800, 20.357, 'Thursday', 'Friday']
```
To find the length of `x` (the number of elements in `x`), we do:
```python
    print(len(x)) # returns 7
```

In [20]:
x = ['Monday', 'Tuesday', 'Wednesday', 1800, 20.357, 'Thursday', 'Friday']
print(len(x)) # returns 7

7

In [111]:
month = ['january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november' ,'december']
print(month)
print('\t')
print(month[:: -1])
print('\t')
print(len(month))

['january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december']

['december', 'november', 'october', 'september', 'august', 'july', 'june', 'may', 'april', 'march', 'february', 'january']

12

- We can concatenate two lists to form a single list using the `+` operator, which allows for list concatenation:
```python
   x = ['giraffe', 'tiger']
   y = ['monkey', 'mouse']
   z = x + y
   print(z) # returns ['giraffe', 'tiger', 'monkey', 'mouse']
```

In [21]:
x = ['giraffe', 'tiger']
y = ['monkey', 'mouse']
z = x + y
print(z) # returns ['giraffe', 'tiger', 'monkey', 'mouse']

['giraffe', 'tiger', 'monkey', 'mouse']

In [24]:
b = [3,4,5]
c = [1,2,3]
d = b + c
e = c + b 
print(d)
print(e)

[3, 4, 5, 1, 2, 3]
[1, 2, 3, 3, 4, 5]

- We can repeat the elements of a list using the multiplication operator `*`:
```python
    x = ['giraffe', 24, 18, 'tiger', 2400, 150]
    y = x * 3
    print(y) # returns ['giraffe', 24, 18, 'tiger', 2400, 150, 'giraffe', 24, 18, 'tiger', 2400, 150, 'giraffe', 24, 18, 'tiger', 2400, 150]
```

In [22]:
x = ['giraffe', 24, 18, 'tiger', 2400, 150]
y = x * 3
print(y) # returns ['giraffe', 24, 18, 'tiger', 2400, 150, 'giraffe', 24, 18,
         # 'tiger', 2400, 150, 'giraffe', 24, 18, 'tiger', 2400, 150]

['giraffe', 24, 18, 'tiger', 2400, 150, 'giraffe', 24, 18, 'tiger', 2400, 150, 'giraffe', 24, 18, 'tiger', 2400, 150]

In [112]:
# 'str' object does not support item assignment

ch = "Chelsea"
ch = 4 *ch 
print(ch)

ChelseaChelseaChelseaChelsea

In [30]:
z = 3 * x
print(z)

['Monday', 'Tuesday', 'Wednesday', 1900, 20.357, 'Thursday', 'Friday Saint', 'Monday', 'Tuesday', 'Wednesday', 1900, 20.357, 'Thursday', 'Friday Saint', 'Monday', 'Tuesday', 'Wednesday', 1900, 20.357, 'Thursday', 'Friday Saint']

- It is possible to modify a particular element in a list by using its index:
```python
    x = ['Monday', 'Tuesday', 'Wednesday', 1800, 20.357, 'Thursday', 'Friday']
    x[3] = x[3] + 100
    print(x) # returns ['Monday', 'Tuesday', 'Wednesday', 1900, 20.357, 'Thursday', 'Friday']
    
    x[6] = x[6] + ' Saint' # Note the space in ' Saint', otherwise you'll get 'FridaySaint'.
    print(x) # returns ['Monday', 'Tuesday', 'Wednesday', 1900, 20.357, 'Thursday', 'Friday Saint']
```

In [32]:
x = ['Monday', 'Tuesday', 'Wednesday', 1800, 20.357, 'Thursday', 'Friday']
x[3] = x[3] + 100
print(x) # returns ['Monday', 'Tuesday', 'Wednesday', 1900, 20.357, 'Thursday', 'Friday']

print("==================================================================\n")
x[6] = x[6] + ' Saint' # Note the space in ' Saint', otherwise you'll get 'FridaySaint'.
print(x) # returns ['Monday', 'Tuesday', 'Wednesday', 1900, 20.357, 'Thursday', 'Friday Saint']

['Monday', 'Tuesday', 'Wednesday', 1900, 20.357, 'Thursday', 'Friday']
==================================================================

['Monday', 'Tuesday', 'Wednesday', 1900, 20.357, 'Thursday', 'Friday Saint']

In [116]:
month.append([30, 31, 28,29])
print(month)

['january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december', 30, 30, [30, 31, 28, 29]]

- New elements can be added in addition to the initial elements. For this, we use the `append()` function:
```python
    x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
    x.append('Saturday')
    x.append('Sunday')
    print(x)
```

In [33]:
x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
x.append('Saturday')
x.append('Sunday')
print(x)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [119]:
month.append("Monday")
month.append("Tuesday")
month.extend(["Wednesday", "Thursday","Friday"])
print(month)

['january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december', 30, 30, [30, 31, 28, 29], 'Monday', 'uesday', 'Wednesday', 'Thursday', 'Friday', 'Monday', 'uesday', 'Wednesday', 'Thursday', 'Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

As we can see, the `append()` function can only add one element to a list at a time. Therefore, we can use the `extend()` function when we want to add multiple elements at once. Example:
```python
    x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
    x.extend(['Saturday', 'Sunday'])
    print(x)
```

In [34]:
x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
x.extend(['Saturday', 'Sunday'])
print(x)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

****
For further study, explore the following methods and how they operate on lists:
`insert()`, `remove()`, `delete()`, `index()`, `count()`, `join()`, `zip()`.
***

<left> <b> <span style="color:brown;">Given that their usage is quite uncommon, we will not cover `tuple` and `set` objects in this course. The brief presentation given above is relatively sufficient, and readers who explicitly need more information can consult the extensive documentation available online. </span> </b></left>

However, we can mention that a `set` is an unordered iterable collection of distinct hashable elements and that classic mathematical operations on sets can be performed in Python. For example:

<center>
    <img src="images/set.png" width="20%></center>

```python
   X, Y = set('abcd'), set('sbds')
   print("X =", X) # X = {'a', 'c', 'b', 'd'}
   print("Y =", Y) # Y = {'s', 'b', 'd'} : only one element 's'
    
   print('c' in X)  # True
   print('a' in Y)  # False
   print(X - Y)     # {'a', 'c'}
   print(Y - X)     # {'s'}
   print(X | Y)     # {'a', 'c', 'b', 'd', 's'}
   print(X & Y)     # {'b', 'd'}
```

In [35]:
X, Y = set('abcd'), set('sbds')
print("X =", X) # X = {'a', 'c', 'b', 'd'}
print("=========================================\n")

print("Y =", Y) # Y = {'s', 'b', 'd'} : only one element 's'
print("=========================================\n")

print('c' in X)  # True
print("=========================================\n")

print('a' in Y)  # False
print("=========================================\n")

print(X - Y)     # {'a', 'c'}
print("=========================================\n")

print(Y - X)     # {'s'}
print("=========================================\n")

print(X | Y)     # {'a', 'c', 'b', 'd', 's'}
print("=========================================\n")

print(X & Y)     # {'b', 'd'}

X = {'d', 'b', 'a', 'c'}
=========================================

Y = {'d', 's', 'b'}
=========================================

True
=========================================

False
=========================================

{'a', 'c'}
=========================================

{'s'}
=========================================

{'d', 'b', 'a', 'c', 's'}
=========================================

{'d', 'b'}

In [128]:
M ,N = set('123455'), set('678786549')

print(M)
print("=========================================\n")

print(N)
print("=========================================\n")

print(M|N) # Set union
print("=========================================\n")

print(M & N) # intersetion of the sets
print("=========================================\n")

print(M - N)
print("=========================================\n")
 
print('4' in M)
print("=========================================\n")

{'4', '1', '2', '5', '3'}
=========================================

{'6', '4', '7', '5', '9', '8'}
=========================================

{'6', '4', '7', '1', '2', '5', '3', '9', '8'}
=========================================

{'4', '5'}
=========================================

{'2', '1', '3'}
=========================================

True
=========================================

## 1. Dictionaries

### 1.0. About dictionaries

In Pythonic design, a dictionary (also called a map) is a versatile collection of objects that adheres to the `key-value` principle. Unlike lists, where elements are accessed by their position or index, dictionaries use unique keys to identify and retrieve values. These keys are typically strings but can also be other immutable types, such as numbers or tuples. This key-value structure allows for efficient lookups, additions, and deletions, making dictionaries a powerful tool for organizing and managing data in a more intuitive and flexible way compared to lists.

In [36]:
x = {'name': 'Jean', 'age': 25, 'weight': 70, 'height': 1.75}
y = {'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.80], 'Pierre': [35, 75, 1.65]}
z = {'Jean': (25, 70, 1.75), 'Paul': (30, 65, 1.80), 'Pierre': (35, 75, 1.65)}
k = {'name': 'Jean', 'biometrics': [25, 70, 1.75], 'score': (12, 17, 15), 'rank': 25}

The four variables above represent **four** typical ways to define a dictionary. Variable `x` is a dictionary where the keys are **name, age, weight, and height**. The corresponding values are **Jean, 25, 70**, and **1.75**. In the definition of `x`, it is noted that each key corresponds to a unique value. However, it is very common to associate multiple values with a single key. This is the case with dictionary `y`.

###  1.1. Operations on dictionaries

 - To access the elements of a dictionary, you use the keys. The method `keys()` returns the list of keys in the dictionary, and the method `values()` returns the values.
  ```python
     X = {'name': 'Jean', 'age': 25, 'weight': 70, 'height': 1.75}
     print(X.keys())  # returns ['name', 'age', 'weight', 'height']
     print(X.values()) # returns ['Jean', 25, 70, 1.75]   
     print(X['name'])  # returns 'Jean'   
     x = {'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.80], 'Pierre': [35, 75, 1.65]}
     print(x['Jean']) # returns [25, 70, 1.75]
     print(x['Jean'][0]) # returns 25
     print(x['Jean'][0:2]) # returns [25, 70]   
  ```

In [37]:
X = {'name': 'Jean', 'age': 25, 'weight': 70, 'height': 1.75}
print("=========================================\n")

print(X.keys())  # returns ['name', 'age', 'weight', 'height']
print("=========================================\n")

print(X.values()) # returns ['Jean', 25, 70, 1.75]
print("=========================================\n")

print(X['name'])  # returns 'Jean'
print("=========================================\n")

x = {'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.80], 'Pierre': [35, 75, 1.65]}
print("=========================================\n")

print(x['Jean']) # returns [25, 70, 1.75]
print("=========================================\n")

print(x['Jean'][0]) # returns 25
print("=========================================\n")

print(x['Jean'][0:2]) # returns [25, 70]

=========================================

dict_keys(['name', 'age', 'weight', 'height'])
=========================================

dict_values(['Jean', 25, 70, 1.75])
=========================================

Jean
=========================================

=========================================

[25, 70, 1.75]
=========================================

25
=========================================

[25, 70]

In [139]:
Aims = {'names' : ["Moreen", "Blessed", "Fabious", "John"], 'Age' : [24,27,27,25], 'Country' : ["Kenya", "Nigeria", "Rwanda", "Zambia"], 
        'program' : ["Math Epide", "Data Science", "MaMod", "Climate"]}
print(Aims)

#Aims['names'][0]
print('\t')
print(Aims['names'][0])
print('\t')
print(Aims['names'][0:3])
print('\t')

print( Aims['Country'][0:])
print('\t')

Aims['Country'][3] = "Ghana" 
print(Aims)
print('\t')

{'names': ['Moreen', 'Blessed', 'Fabious', 'John'], 'Age': [24, 27, 27, 25], 'Country': ['Kenya', 'Nigeria', 'Rwanda', 'Zambia'], 'program': ['Math Epide', 'Data Science', 'MaMod', 'Climate']}

Moreen

['Moreen', 'Blessed', 'Fabious']

['Kenya', 'Nigeria', 'Rwanda', 'Zambia']

{'names': ['Moreen', 'Blessed', 'Fabious', 'John'], 'Age': [24, 27, 27, 25], 'Country': ['Kenya', 'Nigeria', 'Rwanda', 'Ghana'], 'program': ['Math Epide', 'Data Science', 'MaMod', 'Climate']}

- Adding or modifying keys or values: You can modify a dictionary by either changing existing keys and values or by adding new ones. You can also remove values as well as keys.

```python
  x = {} # Creates an empty dictionary. You could also use x = dict()
  x['name'] = 'Jean' # Adds the key-value pair 'name' and 'Jean' to the initial dictionary x
  x['biometrics'] = [25, 70, 1.75] # Adds the key-value pair 'biometrics' and [25, 70, 1.75] to dictionary x
  x['biometrics'] = [30, 70, 1.80] # Modifies the values of the 'biometrics' key by redefining it
  x['biometrics'][0] = 2 # Modifies the element at index 0 in the list of values corresponding to the 'biometrics' key (previously defined)

  Y = {'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.80], 'Pierre': [35, 75, 1.65]}
  del Y['Jean'] # Deletes the key 'Jean' and all its corresponding values
  del Y['Paul'][0] # Deletes the element at index 0 in the value sequence corresponding to the key 'Paul'. For a key with a single value, use del x['keyName'] where 'keyName' is the name of the key with the single value.

```

In [38]:
x = {} # Creates an empty dictionary. You could also use x = dict()
print(x)
print("=========================================\n")

x['name'] = 'Jean' # Adds the key-value pair 'name' and 'Jean' to the initial dictionary x
print(x)
print("=========================================\n")

x['biometrics'] = [25, 70, 1.75] # Adds the key-value pair 'biometrics' and [25, 70, 1.75] to dictionary x
print(x)
print("=========================================\n")

x['biometrics'] = [30, 70, 1.80] # Modifies the values of the 'biometrics' key by redefining it
print(x)
print("=========================================\n")

x['biometrics'][0] = 2 # Modifies the element at index 0 in the list of values corresponding to the 'biometrics' key (previously defined)
print(x)
print("=========================================\n")



Y = {'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.80], 'Pierre': [35, 75, 1.65]}
print(Y)
print("=========================================\n")

del Y['Jean'] # Deletes the key 'Jean' and all its corresponding values

del Y['Paul'][0] # Deletes the element at index 0 in the value sequence corresponding to the key 'Paul'. For a key with a single value, use del x['keyName'] where 'keyName' is the name of the key with the single value.


print(Y)

{}
=========================================

{'name': 'Jean'}
=========================================

{'name': 'Jean', 'biometrics': [25, 70, 1.75]}
=========================================

{'name': 'Jean', 'biometrics': [30, 70, 1.8]}
=========================================

{'name': 'Jean', 'biometrics': [2, 70, 1.8]}
=========================================

{'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.8], 'Pierre': [35, 75, 1.65]}
=========================================

{'Paul': [65, 1.8], 'Pierre': [35, 75, 1.65]}

- To rename a key in a dictionary, you use the `pop()` function as defined in the following example:

```python
x = {'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.80], 'Pierre': [35, 75, 1.65]}
x['John'] = x.pop('Jean') # Renames the key 'Jean' to 'John'
print(x)

```

In [39]:
x = {'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.80], 'Pierre': [35, 75, 1.65]}
print(x)

x['John'] = x.pop('Jean') # Renames the key 'Jean' to 'John'
print(x)

{'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.8], 'Pierre': [35, 75, 1.65]}
{'Paul': [30, 65, 1.8], 'Pierre': [35, 75, 1.65], 'John': [25, 70, 1.75]}

<!--NAVIGATION-->
<  [2.Variables and assignements](02_Lecture02.ipynb)| [ToC](Index.ipynb) | [4.Flow control](04_Lecture04.ipynb)>

# Practical_3: Iterable objects or Containers

---

### Exercise 1:
Create a list of integers from 1 to 10.

```python
# Exercise 1
```

In [140]:
l = list(range(1, 10,1))
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

```python
# Exercise 2

In [142]:
t = ("apple", "banana", "cherry")
print(t)

('apple', 'banana', 'cherry')

---

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3
```

In [143]:
numbers = [10,20,30,40]
y = tuple(numbers)
print(y)

(10, 20, 30, 40)

---

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4
```

In [145]:
s = set('123450')
print(s)

{'4', '1', '0', '2', '5', '3'}

---

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5
```

In [148]:
student ={ 'name' : 'Alice', 'age' : 20, 'grade':'A'}
student

{'name': 'Alice', 'age': 20, 'grade': 'A'}

---

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6
```

In [149]:
sec= [ 10,20,30,40,50]
sec[1]

20

---

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python
# Exercise 7
```

In [151]:
fruit = ["aple", "banana", "cherry", "orange"]
fruit[2]= "mango"
print(fruit)

['aple', 'banana', 'mango', 'orange']

---

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8
```

In [153]:
s.add('6')
print(s)

{'6', '4', '1', '0', '2', '5', '3'}

---

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python
# Exercise 9
```

In [157]:
person = {"name": "John" , "age":25, "city":"New York"}
person.pop( "age")
print(person)

{'name': 'John', 'city': 'New York'}

---

### Exercise 10:
Create a range object starting from 0 to 9.

```python
# Exercise 10
```

In [158]:
r = list(range(10))
print(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

---

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11
```

In [173]:
squares = [i * i for i in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

---

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12
```

In [176]:
even = list(range( 2,12,2))
even_tup = tuple(even)
print(even_tup)

(2, 4, 6, 8, 10)

In [175]:
even_numbers = tuple(i for i in range(2, 11) if i % 2 == 0)
print(even_numbers)

(2, 4, 6, 8, 10)

---

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13
```

In [177]:
fruit = ["aple", "banana", "cherry", "orange"]
for i in friut:
    print (i)

aple
banana
mango
orange

---

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

In [178]:
numbers = set('12345')
print( "3" in numbers)

True

---

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15
```

In [180]:
numbers = (10, 20, 30)
len(numbers)

3

---

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16
```

In [183]:
help(scores.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [184]:
scores = [80,85,90,95]
scores.append(100)
print(scores)

[80, 85, 90, 95, 100]

---

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python
# Exercise 17
```

---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18
```

In [185]:
elem = set("1223445")
print(elem)

{'4', '1', '2', '5', '3'}

---

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19
```

In [29]:
c = "hello"
c = list(c)
print(c)

['h', 'e', 'l', 'l', 'o']

---

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20
```

In [23]:
tup = (1,2,3,4)
g = list(tup)
g.reverse()
print(g)

[4, 3, 2, 1]

---

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

In [18]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python
# Exercise 22
```

In [13]:
dict_ = {"1": 1, "2": 4, "3": 9 , "4":16, "5":25}
print(dict_)

{'1': 1, '2': 4, '3': 9, '4': 16, '5': 25}

---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23
```

In [12]:
Aims = {'names' : ["Moreen", "Blessed", "Fabious", "John"], 'Age' : [24,27,27,25], 'Country' : ["Kenya", "Nigeria", "Rwanda", "Zambia"], 
        'program' : ["Math Epide", "Data Science", "MaMod", "Climate"]}

for key, value in Aims.items():
    print(f'Key: {key}, Value: {value}')

Key: names, Value: ['Moreen', 'Blessed', 'Fabious', 'John']
Key: Age, Value: [24, 27, 27, 25]
Key: Country, Value: ['Kenya', 'Nigeria', 'Rwanda', 'Zambia']
Key: program, Value: ['Math Epide', 'Data Science', 'MaMod', 'Climate']

---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24
```

In [3]:
letters = [chr(i) for i in range(65, 70)]  
print(letters)

['A', 'B', 'C', 'D', 'E']

---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25
```

In [9]:
t = [1,2,3]
g = [ "a","b","c"]
z = zip(t,g)
z_list = list(z)
print(z_list)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [4]:
help(zip)

Help on class zip in module builtins:

class zip(object)
 |  zip(*iterables, strict=False) --> Yield tuples until an input is exhausted.
 |
 |     >>> list(zip('abcdefg', range(3), range(4)))
 |     [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]
 |
 |  The zip object yields n-length tuples, where n is the number of iterables
 |  passed as positional arguments to zip().  The i-th element in every tuple
 |  comes from the i-th iterable argument to zip().  This continues until the
 |  shortest argument is exhausted.
 |
 |  If strict is true and one of the arguments is exhausted before the others,
 |  raise a ValueError.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __setstate__(...)
 |      Set state information for unpickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

---

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26
```

In [208]:
k = [ 10,20,30,40,50]
print(k[-1])

50

---

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27
```

In [206]:
names = ['Alice', 'Bob', 'Charlie', 'David']
names.sort()
print(names)

['Alice', 'Bob', 'Charlie', 'David']

---

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28
```

In [200]:
def large_num(num_list):
    
    return max(num_list)

num_list = [12, 5, 8, 21, 10]
print(large_num(num_list))

21

In [199]:
def small_n(num):
    return min(num)

num = [1,45,23,78,90]
print(small_n(num))

1

---

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29
```

In [188]:
fruits = ["apple", "banana", "apple", "orange"]
fruits.count("apple")

2

---

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30
```

In [186]:
person = {"name" : "alice" , "age" : 25, "city" : "New York"}
print(person)

{'name': 'alice', 'age': 25, 'city': 'New York'}